* {
  box-sizing: border-box;
  margin: 0;
}

html {
  /* 1 rem sẽ = 10px */
  font-size: 62.5%;
}

/* Khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
.cl_red {
  color: red;
}
.bgc_yellow_nhat {
  background-color: #f8f0dc;
}

.bgc_yellow_dam {
  background-color: #ebac00;
}
.ds {
  display: flex;
}

.mr20 {
  margin-right: 20px;
}

.mr10 {
  margin-right: 10px;
}
/*+============conmom======================+*/

.main-content {
  width: 1170px;
  min-width: calc(100% - 500px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0 16px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  background-color: #171100;
  border-radius: 24.5px;
  line-height: 50px;
  min-width: 118px;
}

.btn:hover {
  background-color: #5f5b53;
}

/* header */

.header {
  background-color: #f1d077;
}

.header.fixed {
  position: sticky;
  top: -28px;
}

.header .body-header {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}

.logo {
  height: 100px;
  width: 100px;
}

.navigation {
  margin-left: auto;
}
.navigation ul {
  display: flex;
}

.navigation a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}

.navigation li.active a,
.navigation a:hover {
  color: #171100;
  /* font-weight: 600; - GÂY RA GIẬT CHỮ */
  /* KHẮC PHỤC ĐƯỢC TÍNH TRẠNG KHI HOVER DÔ THÌ NÓ GIẬT CHỮ */
  text-shadow: 1px 0 0 currentColor;
}

.navigation li.active a::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  position: absolute;
  bottom: 6px;
  left: 21px;
}

/* Nút bấm */
.header .btn_sign-up {
  min-width: 144px;
}

.header .action {
  margin-left: 49px;
}

/* Main Body */

.main {
  margin-top: 100px;
}

.body {
  display: flex;
}

.media-block {
  margin-right: 20px;
}

.media-block .img_medi_block {
  width: 300px;
  height: 300px;
  border-radius: 40px;
}

.content-block {
  margin-top: 60px;
  line-height: 20px;
}

.content-block .heading-content-block {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 600;
}

.content-block .desc-content-block {
  font-size: 16px;
  color: gray;
  font-style: italic;
}

.nodes-make {
  margin-top: 30px;
  justify-content: center;
  align-items: center;
}

.nodes-make .node-btn-buy {
  background-color: #ebac00;
  font-size: 20px;
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 13.2px 25px;
  border-radius: 40px;
  cursor: pointer;
}

.nodes-make .node-btn-buy:hover {
  background-color: #5f5b53;
}

.node-both {
  padding: 10px;
  border-radius: 40px;
  cursor: pointer;
  color: #5f5b53;
  font-weight: 500;
}

.node-both .khung-node-both:hover {
  color: #171100;
}

.main .hero {
  padding: 10px;
}

/* Mô tả số lượng người mua và giá cả  */
.desc_soluong_gia {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.desc_soluong_gia .desc {
  margin-right: 30px;
}

.desc_soluong_gia .desc strong {
  margin-right: 5px;
  font-size: 40px;
  font-weight: 600;
}

/* Body2 */
.main .hero .body2 {
  width: 100vw; /* Chiếm hết chiều ngang của cửa sổ */
  margin-left: calc(50% - 50vw); /*Căn giữa */
  padding: 20px;
  margin-top: 10px;
  justify-content: space-around; /* Căn đều khoảng cách giữa các items */
}

.body2 .items {
  background-color: #fff;
  margin-right: 10%;
  width: 400px;
  border-radius: 20px;
  text-align: center;
  padding: 20px 0 0 0;
}

.body2 .img_item {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.body2 .content_item {
  margin-top: 10px;
  text-align: left;
  padding: 10px 10px;
}

.body2 .content_item .name_item {
  width: 300px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
}

.content_item .love_buy {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.love_buy .love-cart .cart {
  margin-top: 10px;
  display: flex;
  cursor: pointer;
  color: #5f5b53;
}

.love_buy .love-cart .cart:hover {
  color: #171100;
}

.love_buy .love-cart .desc_cart {
  margin-left: 5px;
}

.love_buy .buy {
  width: 100px;
  height: 50px;
  background-color: #171100;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  margin-right: 10px;
}

.love_buy .buy:hover {
  background-color: #5f5b53;
}

.body-shop {
  padding: 10px;
  margin-top: 10px;
}

.body-shop .shops {
  font-size: 30px;
  font-weight: 500;
  margin-right: 10px;
}

.body-shop .tool {
  display: flex;
  padding: 10px;
  border-radius: 40px;
}

.body-shop .tool:hover {
  background-color: #ddd;
  cursor: pointer;
}

.body-shop .tool .icon-down {
  margin-top: 8px;
}

.list-shop {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.list-shop .items-shop {
  width: 100px;
  margin-right: 40px;
}

.list-shop .items-shop .img_s {
  width: 100px;
}

.list-shop .items-shop .img_s:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.list-product {
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  max-height: 280px;
  overflow: hidden;
}

.hieuUngShow {
  transition: max-height 0.5s ease; /* Hiệu ứng mở rộng */
}

.list-product .item-Pduct {
  width: 100px;
  margin-right: 40px;
  margin-top: 30px;
}

.list-product .item-Pduct .img_pd {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 4px 6px 4px 1px #ddd;
}

.list-product .item-Pduct .img_pd:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showListPr {
  max-height: 1000px;
}

.unShow {
  display: none;
}

.see_more {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: #999;
  background-color: #fff;
  box-shadow: 3px 3px 6px 3px #ddd;
  padding: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.see_more:hover {
  cursor: pointer;
  opacity: 0.7;
}

.CuaHang {
  margin-top: 30px;
}

.tools_ban_Hang {
  margin-top: 10px;
  display: flex;
}

.tools_ban_Hang .itemsBH {
  display: flex;
  font-size: 20px;
  background-color: #fff;
  width: 200px;
  height: 50px;
  box-shadow: 1px 1px 1px 1px #999;
  margin-right: 10px;
  padding: 15px;
  border-radius: 50px;
}

.tools_ban_Hang .itemsBH:hover {
  cursor: pointer;
  background-color: #ddd;
}

.tools_ban_Hang .dangBan {
  background-color: #ebac00;
}
.tools_ban_Hang .desc_ban {
  margin-left: 10px;
  font-weight: 500;
}
